<div class="col-md-3"></div>
<div class="panel panel-default col-md-6">
  <% action = test.persisted? ? url_for(:controller => 'tests', :action => 'update', :id => test.id) : url_for(:controller => 'tests', :action => 'create') %>
  <form class="form-horizontal" method="post" action="<%= action %>">
    <fieldset>
      <legend><%= test.persisted? ? 'Update' : 'Create' %> Test</legend>

      <div class="form-group">
        <label class="col-md-3 control-label" for="textinput">Test Name</label>
        <div class="col-md-9">
          <input id="name" name="name" type="text" value="<%= test.name %>" placeholder="Ping Homepage" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="interval">Run every</label>
        <div class="col-md-9">
          <select id="interval" name="interval" class="form-control">
            <% [[6, :hours], [5, :minutes], [15, :minutes], [1, :hour], [24, :hours]].each do |(i, name)| %>
              <% interval = i.send(name).to_i %>
              <option value="<%= interval %>"<%= test.interval == interval ? ' selected' : '' %>><%= "#{i} #{name.to_s.titleize}" %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="breed">Request Method</label>
        <div class="col-md-9">
          <select id="breed" name="breed" class="form-control">
            <% Test::BREED.each do |value| %>
              <option value="<%= value %>"<%= test.breed == value ? ' selected' : '' %>><%= value.upcase %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="url">Request URL</label>
        <div class="col-md-9">
          <input id="url" name="url" type="text" value="<%= test.url %>" placeholder="https://alive.trychameleon.com" class="form-control input-md" required="">
        </div>
      </div>

      <input type="hidden" name="_method" value="<%= test.persisted? ? 'patch' : 'post' %>">
      <%= csrf_form_tags %>

      <div class="form-group pull-right">
        <label class="control-label" for="save"></label>
        <div class="col-md-1">
          <button id="save" name="save" class="btn btn-primary"><%= test.persisted? ? 'Save' : 'Create' %></button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
