<li id="test-<%= test.id %>" class="test-item list-group-item">
  <div>
    <div class="test-top">
      <span class="glyphicon glyphicon-<%= test.last_success ? 'ok text-success' : 'remove text-danger' %>"></span>
      <span class="test-title"><%= link_to (test.name || "API Test #{test.index}"), test_path(test) %></span>
      <!-- RHS -->
      <span class="pull-right test-edit"><a href="<%= edit_test_path(test) %>">Edit</a></span>
      <span class="pull-right test-ago"><%= test.last_at && "#{time_ago_in_words(test.last_at)} ago" %></span>
      <span class="pull-right test-time"><%= test.last_duration.to_i %>ms</span>
      <span class="pull-right test-code label label-<%= test.last_success ? 'success' : 'danger' %>">Status <%= test.last_code %></span>
    </div>
    <div>
      <!-- LHS -->
      <span class="test-breed"><%= test.breed.upcase %></span>
      <span class="test-url"><%= test.url %></span>
    </div>
  </div>
  <div class="test-info">
    <% if test.headers %>
      <div>
        <a class="btn test-toggle test-headers-toggle" data-toggle="collapse" data-target="#test-<%= test.id %> .test-headers">Headers <span class="caret"></span></a>
        <div class="test-headers collapse"><code><%= JSON.parse(test.headers).map {|(k,v)| "#{k}: #{v}" }.join('<br>') %></code></div>
      </div>
    <% end %>
    <% if test.body %>
      <div>
        <a class="btn test-toggle test-body-toggle" data-toggle="collapse" data-target="#test-<%= test.id %> .test-body">Body <span class="caret"></span></a>
        <div class="test-body collapse"><code><%= test.body %></code></div>
      </div>
    <% end %>
  </div>
  <% checks = test.checks.to_a %>
  <a class="btn test-toggle test-checks-toggle" data-toggle="collapse" data-target="#test-<%= test.id %> .test-checks">Checks (<%= checks.size %>) <span class="caret"></span></a>
  <a class="btn test-toggle test-checks-new" href="<%= new_test_check_path(test) %>"><span class="glyphicon glyphicon-plus"></span><span>Add a Check</span></a>

  <div class="test-checks collapse in">
    <ul class="test-check-items list-group">
      <% checks.each do |check| %>
        <li id="check-<%= check.id %>" class="list-group-item">
          <span><%= check.decorator.new(check) %></span>
          <span class="pull-right check-edit"><a href="<%= edit_check_path(check) %>">Edit</a></span>
        </li>
      <% end %>
    </ul>
  </div>


</li>
