<%= render :partial => 'shared/top' %>

<div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 class="title">API &amp; Browser Tests</h3>
    <div>
      <ul class="list-group">
        <% @tests.each do |test| %>
        <li id="test-<%= test.id %>" class="list-group-item">
          <div>
            <span class="test-success"><%= test.last_success ? 'Passed' : 'Failed' %></span>
            <span class="test-url"><%= test.url %></span>
            <span class="test-code"><%= test.last_code %></span>
            <span class="test-time"><%= test.last_duration.to_i %>ms</span>
          </div>
          <div class="checks">
            <div>Checks</div>
            <ul class="list-group">
              <% test.checks.each do |check| %>
                <li id="check-<%= check.id %>" class="list-group-item"><%= check.decorator.new(check) %></li>
              <% end %>
            </ul>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
